In [9]:
import pandas as pd
from decimal import Decimal
from scipy.stats import wilcoxon

In [2]:
#convert numeric to scientific notation
def sci_notation(number, sig_fig=2):
    ret_string = "{0:.{1:d}e}".format(number, sig_fig)
    a, b = ret_string.split("e")
    # # remove leading "+" and strip leading zeros
    b = int(b)
    return a + " <10" + str(b)

In [3]:
cpdp_results = pd.read_csv('https://raw.githubusercontent.com/jsaj/MDS_CPDP/master/benchmark-execution/benchmarks/CPDP_results.csv?token=GHSAT0AAAAAAB3VLK7U665Q6TJZUBAU7GK2Y5PGFKA')

In [11]:
import warnings
warnings.filterwarnings("ignore")

result = []
for metric in ['fscore', 'auc', 'pf']:
 
  for data in ['AEEEM', 'NASA', 'PROMISE', 'RELINK']:
    mds_cpdp = cpdp_results.loc[(cpdp_results['Dataset'] == data) &
                           (cpdp_results['Method'] == 'MDS-CPDP')]
    values = []
    cols = []
    for methods in ['CamargoCruz09-DT', 'EASC-NB', 'Menzies11-RF', 'Turhan09-DT', 'Watanabe08-DT']:
      method_df = cpdp_results.loc[(cpdp_results['Dataset'] == data) &
                                  (cpdp_results['Method'] == methods)]
                                   
      cols.append(methods)
      mds_values = mds_cpdp[metric]
      method_df = method_df[metric]
      s, p = wilcoxon(mds_values, method_df)
      values.append(sci_notation(p, sig_fig=4))

    df = pd.DataFrame([values], columns=cols)

    df.insert(0, 'Datasets', data)
    df.insert(0, 'Metric', metric)
    result.append(df)

result = pd.concat(result).reset_index(drop=True)
result

,Metric,Datasets,CamargoCruz09-DT,EASC-NB,Menzies11-RF,Turhan09-DT,Watanabe08-DT
0,fscore,AEEEM,6.2500 <10-1,4.3750 <10-1,3.1250 <10-1,1.8750 <10-1,6.2500 <10-2
1,fscore,NASA,4.2480 <10-2,6.7725 <10-1,9.6973 <10-1,3.8037 <10-1,4.2383 <10-1
2,fscore,PROMISE,1.3725 <10-2,1.0233 <10-2,3.9468 <10-1,3.2028 <10-2,3.1010 <10-2
3,fscore,RELINK,1.0000 <100,5.0000 <10-1,1.0000 <100,1.0000 <100,7.5000 <10-1
4,auc,AEEEM,1.2500 <10-1,6.2500 <10-2,6.2500 <10-2,6.2500 <10-2,6.2500 <10-2
5,auc,NASA,3.4180 <10-2,9.2285 <10-2,4.8828 <10-4,4.8828 <10-4,1.2939 <10-1
6,auc,PROMISE,3.7969 <10-9,3.9430 <10-1,1.1973 <10-10,6.2420 <10-11,8.3465 <10-10
7,auc,RELINK,5.0000 <10-1,7.5000 <10-1,5.0000 <10-1,5.0000 <10-1,5.0000 <10-1
8,pf,AEEEM,3.1250 <10-1,1.2500 <10-1,1.0000 <100,6.2500 <10-2,6.2500 <10-2
9,pf,NASA,4.6973 <10-1,9.2915 <10-1,3.4180 <10-3,9.7656 <10-4,6.7725 <10-1
10,pf,PROMISE,1.0566 <10-8,8.6298 <10-5,3.3650 <10-10,2.8908 <10-10,9.4084 <10-11
11,pf,RELINK,1.0000 <100,1.0000 <100,1.0000 <100,5.0000 <10-1,1.0000 <100